@tailwind base;
@tailwind components;
@tailwind utilities;

#top{
  position: fixed;
  top:0 !important;
  border-bottom: 1px solid lightgrey;
}
#normal{
  top: 40px !important;
  transition: 70ms linear;
}
#ae-top{
  margin-top: 48px;
}
.footer{
  border-top: 1px solid lightgrey;
}
.drawer-menu{
  z-index: 11;
  position: fixed;
  left: -100px;
  background-color: white;
  width: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all .2s linear;
}
.checked:checked ~ .drawer-menu {
  width: 100%;
  left:0;
}
#scroll{
  overflow-y: scroll;
}
#hide-scroll{
  overflow-y:hidden;
}