@tailwind base;
@tailwind components;
@tailwind utilities;

#top{
  position: fixed;
  top:0 !important;
  border-bottom: 1px solid lightgrey;
}
#normal{
  top: 40px !important;
  transition: 70ms linear;
}
#ae-top{
  margin-top: 48px;
}
.footer{
  border-top: 1px solid lightgrey;
}
.drawer-menu{
  z-index: 11;
  position: fixed;
  left: -200px;
  background-color: white;
  width: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all .2s linear;
}
body:has(input:checked) .drawer-menu {
  width: 100%;
  top: 0;
  left:0;
}
#scroll{
  overflow-y: scroll;
}
#hide-scroll{
  overflow-y:hidden;
}
.navigation li:not(:first-child){
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid lightgrey;
  margin-right: 20px;
  font-weight:500;
}