@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --code-color: darkred;
  --code-bg-color: #aaaaaa;
  --code-font-size: 14px;
  --code-line-height: 1.4;
  --scroll-bar-color: #c5c5c5;
  --scroll-bar-bg-color: #f6f6f6;
}

::-webkit-scrollbar-corner { background: rgba(0,0,0,0.5); }

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
  border-radius: 20px;
  border: 3px solid var(--scroll-bar-bg-color);
}
body {
  scrollbar-width: thin;
  overflow-x: hidden;
}
#top{
  position: fixed;
  top:0 !important;
  border-bottom: 1px solid lightgrey;
  margin-top: 0;
}
#normal{
  top: 40px;
  transition: 70ms linear;
}
#ae-top{
  margin-top: 48px;
}
.footer{
  border-top: 1px solid lightgrey;
}
#shadow-host-companion{
  display: none;
}
.drawer-menu{
  z-index: 11;
  position: fixed;
  left: -200px;
  background-color: white;
  width: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all .2s linear;
}
.bl{
  border-bottom: 1px solid #eee;
}
.account{
  z-index: 11;
  position: fixed;
  right: -200px;
  background-color: white;
  width: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all .2s linear;
}
.overlay{
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
}
.account-active{
  z-index: 11;
  position: fixed;
  background-color: white;
  width: 70%;
  margin: 0;
  top: 0;
  right: 0;
  transition: all .2s linear;
  height: 100%;
  -moz-transition: all .2s linear; /* Firefox 4 */
    -webkit-transition: all .2s linear; /* Safari 和 Chrome */
    -o-transition: all .2s linear; /* Opera */
}
.popup-login{
  z-index: 11;
  position: fixed;
  bottom: -400px;
  background-color: white;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
  transition: all .4s ease-in;
}
.popup-login-active{
  z-index: 11;
  position: fixed;
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: all .4s ease-in;
  -moz-transition: all .2s linear; /* Firefox 4 */
    -webkit-transition: all .2s linear; /* Safari 和 Chrome */
    -o-transition: all .2s linear; /* Opera */
}
.login{
  height: 230px;
}
form input{
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.login label{
  margin: 0;
  padding: 0;
  height: 0;
}
body:has(input:checked) .drawer-menu {
  width: 100%;
  top: 0;
  left:0;
}
#scroll{
  overflow-y: scroll;
}
#hide-scroll{
  overflow-y:hidden;
}
.navigation li:not(:first-child){
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid lightgrey;
  margin-right: 20px;
  font-weight:500;
}
section {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}
.formIn{
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 4px 24px;
  border-radius: .25rem;
  border: 1px solid lightgrey;
}
input[type="email"],
input[type="password"],
textarea {
font-family: 'Nunito', sans-serif;
font-size: 22px;
padding: 4px 24px;
border-radius: .25rem;
border: 1px solid lightgrey;
}
input::placeholder{
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}
form button:hover{
  box-shadow: inset 0 0 0 2px #555;
}
form button:nth-of-type(2):hover{
  box-shadow: inset 0 0 0 2px black;
}
.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}
button{
  border: 1px solid black;
}
.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.empty-cart-section{
  border: 1px solid black;
}
.cart-button{
  border-radius: 20px;
  margin-top: 12px;
}